.instagramlogo {
   height: 30px;
}

.instagram-text {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbarig {

   background-color:  rgb(210, 237, 246);
   padding: 10px;

}
.boto {
   
}

